<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founding year:</strong>
    <%= beer_club.founding_year %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <p>
    <strong>Members:</strong>
    <ul>
      <% beer_club.members.each do |m| %>
        <li>
          <%= link_to m.username, m %>
        </li>
      <% end %>
    </ul>
  </p>

</div>
