<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @user %>">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>
  <p>
    <%= "#{@user.username} has made #{pluralize(@user.ratings.count, 'rating')} with an average score of #{@user.average_rating}" %>
  </p>
</div>

<% if @user.favorite_brewery %>
  <p>
    <strong>Favorite Brewery:</strong>
    <%= @user.favorite_brewery %>  
  </p>
<% end %>

<% if @user.favorite_style %>
  <p>
    <strong>Favorite beer style:</strong>
    <%= @user.favorite_style %>
  </p>
<% end %>

<div class="ratings">
  <strong>Ratings</strong>
  <ul>
    <% @user.ratings.each do |r| %>
      <li>
        <%= r.to_s %> 
          <% if @user == current_user %>
            <%= link_to "Delete", r, data: {turbo_method: :delete} %>
          <% end %> 
      </li>
    <% end %>
  </ul>
</div>

<p>
  <strong>Beer Clubs</strong>
  <ul>
    <% @user.clubs.each do |c| %>
      <li>
        <%= link_to c.name, c %>
      </li>
    <% end %>
  </ul>
</p>

<div>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>

  <%= link_to "Back to users", users_path %>
</div>
